Repository iotaledger/goshimmer, pull requests merged in 2021-06, with the labels that each got.

#1134 Consensus mechanim specs
  docs/SUMMARY.md
  docs/protocol_specification/FCOB.png
  docs/protocol_specification/consensus_mechanism.md
  docs/protocol_specification/markers.md
Labels: docs

#825 Tangle specification proposal
  docs/SUMMARY.md
  docs/protocol_specification/tangle.md
Labels: docs

#1400 Docs: High Level Introduction for AliasOutput and ExtendedLockedOutput
  docs/SUMMARY.md
  docs/protocol_specification/advanced_outputs.md
Labels: docs

#1404 Docs: small fixes in output docs
  docs/protocol_specification/advanced_outputs.md
Labels: docs

#1401 Add protocol components and data flow documentation
  README.md
  docs/SUMMARY.md
  docs/protocol_specification/components.md
  docs/protocol_specification/consensus_mechanism.md
  docs/protocol_specification/data-flow.png
  docs/protocol_specification/layers.md
Labels: docs

#1413 Fix typo in wallet docs
  docs/tutorials/wallet.md
Labels: docs

#1444 Fix memory leak in pow plugin/pkg
  client/faucet.go
  packages/pow/pow.go
  packages/pow/pow_test.go
  packages/tangle/messagefactory_test.go
  packages/tangle/parser_test.go
  packages/tangle/tangle_test.go
  plugins/faucet/plugin.go
  plugins/pow/pow.go
  plugins/webapi/faucet/plugin.go
Labels: bug

#1491 Use markers equal in test instead of assert equal
  packages/tangle/booker_test.go
Labels: bug

#1479 Add FCoB opinion logging
  packages/remotelogmetrics/events.go
  plugins/remotelog/server/config/logstash/pipeline/logstash.conf
  plugins/remotelogmetrics/fpc.go
  plugins/remotelogmetrics/plugin.go
  plugins/remotelogmetrics/transaction.go
Labels: analysis
