Repository iotaledger/goshimmer, pull requests merged in 2021-05, with the labels that each got.

#1247 Docs corrections
  docs/SUMMARY.md
  docs/apis/value.md
  docs/concepts/glossary.md
  docs/concepts/layers.md
  docs/tooling/docker_private_network.md
  docs/tooling/integration_tests.md
  docs/tutorials/follow_syncbeacon.md
  docs/tutorials/monitoring.md
  docs/tutorials/request_funds.md
  docs/tutorials/setup.md
Labels: docs

#1243 Feat/monitor sync status
  packages/metrics/events.go
  packages/metrics/metrics.go
  packages/remotelogmetrics/events.go
  packages/remotelogmetrics/metrics.go
  plugins/metrics/plugin.go
  plugins/metrics/sync.go
  plugins/prometheus/info.go
  plugins/remotelogmetrics/plugin.go
  plugins/remotelogmetrics/sync.go
  plugins/research.go
Labels: analysis

#1294 Refactor/statement remotelogging
  packages/remotelogmetrics/events.go
  packages/tangle/consensusmanager.go
  packages/tangle/tangle.go
  plugins/messagelayer/consensus_plugin.go
  plugins/remotelogmetrics/plugin.go
  plugins/remotelogmetrics/statement.go
  plugins/remotelogmetrics/sync.go
Labels: analysis

#1315 Use RocksDB
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
  Dockerfile
  go.mod
  go.sum
  packages/database/badgerdb.go
  packages/database/rocksdb.go
  packages/tangle/tangle_test.go
  plugins/database/plugin.go
  tools/docker-network/builder/docker-compose.builder.yml
  tools/integration-tests/tester/go.mod
  tools/integration-tests/tester/go.sum
Labels: DRAFT, do not merge

#1305 Feat/update grafana pie charts
  docker-compose.yml
  tools/docker-network/grafana/dashboards/local_dashboard.json
  tools/docker-network/grafana/dashboards/mana_research_dashboard.json
  tools/docker-network/grafana/plugins/grafana-piechart-panel/LICENSE
  tools/docker-network/grafana/plugins/grafana-piechart-panel/README.md
  tools/docker-network/grafana/plugins/grafana-piechart-panel/dark.js
  tools/docker-network/grafana/plugins/grafana-piechart-panel/dark.js.map
  tools/docker-network/grafana/plugins/grafana-piechart-panel/editor.html
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart-donut.png
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart-legend-on-graph.png
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart-legend-rhs.png
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart-legend-under.png
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart-options.png
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart_logo_large.png
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart_logo_large.svg
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart_logo_small.png
  tools/docker-network/grafana/plugins/grafana-piechart-panel/img/piechart_logo_small.svg
  tools/docker-network/grafana/plugins/grafana-piechart-panel/light.js
  tools/docker-network/grafana/plugins/grafana-piechart-panel/light.js.map
  tools/docker-network/grafana/plugins/grafana-piechart-panel/module.html
  tools/docker-network/grafana/plugins/grafana-piechart-panel/module.js
  tools/docker-network/grafana/plugins/grafana-piechart-panel/module.js.map
  tools/docker-network/grafana/plugins/grafana-piechart-panel/plugin.json
  tools/docker-network/grafana/plugins/grafana-piechart-panel/styles/dark.css
  tools/docker-network/grafana/plugins/grafana-piechart-panel/styles/light.css
  tools/docker-network/run.sh
  tools/monitoring/grafana/dashboards/local_dashboard.json
  tools/monitoring/grafana/plugins/grafana-piechart-panel/LICENSE
  tools/monitoring/grafana/plugins/grafana-piechart-panel/MANIFEST.txt
  tools/monitoring/grafana/plugins/grafana-piechart-panel/README.md
  tools/monitoring/grafana/plugins/grafana-piechart-panel/dark.js
  tools/monitoring/grafana/plugins/grafana-piechart-panel/dark.js.map
  tools/monitoring/grafana/plugins/grafana-piechart-panel/editor.html
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart-donut.png
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart-legend-on-graph.png
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart-legend-rhs.png
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart-legend-under.png
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart-options.png
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart_logo_large.png
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart_logo_large.svg
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart_logo_small.png
  tools/monitoring/grafana/plugins/grafana-piechart-panel/img/piechart_logo_small.svg
  tools/monitoring/grafana/plugins/grafana-piechart-panel/light.js
  tools/monitoring/grafana/plugins/grafana-piechart-panel/light.js.map
  tools/monitoring/grafana/plugins/grafana-piechart-panel/module.html
  tools/monitoring/grafana/plugins/grafana-piechart-panel/module.js
  tools/monitoring/grafana/plugins/grafana-piechart-panel/module.js.LICENSE.txt
  tools/monitoring/grafana/plugins/grafana-piechart-panel/module.js.map
  tools/monitoring/grafana/plugins/grafana-piechart-panel/plugin.json
  tools/monitoring/grafana/plugins/grafana-piechart-panel/styles/dark.css
  tools/monitoring/grafana/plugins/grafana-piechart-panel/styles/light.css
  tools/monitoring/grafana/plugins/placeholder.txt
  tools/monitoring/grafana/png/placeholder.txt
  tools/monitoring/prometheus/prometheus.yml
Labels: analysis

#1356 doc: Update tutorials
  docs/tutorials/request_funds.md
  docs/tutorials/setup.md
Labels: docs

#1346 Ledgerstate API docs
  docs/SUMMARY.md
  docs/apis/ledgerstate.md
  docs/apis/mana.md
  docs/apis/value.md
  docs/tutorials/request_funds.md
Labels: docs

#1359 Update dAPP tutorial
  docs/tutorials/dApp.md
  plugins/networkdelay/plugin.go
Labels: docs
