Repository iotaledger/goshimmer, pull requests merged in 2021-03, with the labels that each got.

#1027 Docs/docker network
  docs/tooling/docker_private_network.md
  tools/docker-network/README.md
  tools/docker-network/get_approval_csv.sh
Labels: docs

#1016 Docs/event driven model
  docs/implementation_design/event_driven_model.md
Labels: docs

#1050 Docs/plugin
  docs/implementation_design/plugin.md
  docs/implementation_design/plugin/configure.md
  docs/implementation_design/plugin/init.md
  docs/implementation_design/plugin/run.md
Labels: docs

#1057 Docs/docker network spammer
  docs/tooling/docker_private_network.md
  packages/spammer/spammer.go
Labels: docs

#860 Markers specification proposal
  docs/003-markers.md
Labels: docs

#1070 Docs/overview and link
  docs/OVERVIEW.md
  docs/SUMMARY.md
  docs/apis/api.md
  docs/apis/communication.md
  docs/apis/dRNG.md
  docs/apis/mana.md
  docs/apis/value.md
  docs/apis/webAPI.md
  docs/concepts/glossary.md
  docs/concepts/layers.md
  docs/faq.md
  docs/goshimmer.md
  docs/specification/001-mana.md
  docs/teamresources/guidelines.md
  docs/teamresources/release.md
  docs/tutorials/custom_dRNG.md
  docs/tutorials/dApp.md
  docs/tutorials/follow_syncbeacon.md
  docs/tutorials/request_funds.md
  docs/tutorials/setup.md
  docs/tutorials/static_identity.md
  docs/tutorials/syncbeacon.md
  docs/tutorials/wallet.md
Labels: docs

#1077 Feat: Added framework for more convenient message related unit tests
  packages/tangle/booker.go
  packages/tangle/test_utils.go
  packages/tangle/testutils.go
  packages/tangle/utils_test.go
Labels: REVIEW PLEASE

#1111 Docs/refactoring docs
  docs/SUMMARY.md
  docs/apis/api.md
  docs/concepts/glossary.md
  docs/concepts/layers.md
  docs/teamresources/guidelines.md
  docs/teamresources/release.md
  docs/tutorials/custom_dRNG.md
  docs/tutorials/dApp.md
  docs/tutorials/follow_syncbeacon.md
  docs/tutorials/monitoring.md
  docs/tutorials/request_funds.md
  docs/tutorials/setup.md
  docs/tutorials/static_identity.md
  docs/tutorials/syncbeacon.md
  docs/tutorials/wallet.md
Labels: docs

#1104 Docs/configuration params
  docs/implementation_design/configuration_parameters.md
Labels: docs

#1105 Docs/plugin package
  docs/implementation_design/packages_plugins.md
Labels: docs

#1088 FPC improvements - fixed threshold and bias
  packages/vote/fpc/fpc.go
  packages/vote/fpc/fpc_test.go
  packages/vote/fpc/parameters.go
  packages/vote/opinion/opinion.go
  packages/vote/vote_context.go
  plugins/analysis/dashboard/fpc_livefeed.go
  plugins/messagelayer/consensus_plugin.go
Labels: FPC, Green Team

#1102 Statement only considered if issued during last round.
  packages/vote/fpc/parameters.go
  packages/vote/statement/registry.go
  plugins/messagelayer/consensus_plugin.go
Labels: FPC, Green Team

#1136 Feat: Added new data structure to the Markers that allows to lookup the referencing Markers of child Sequences + fixed panic
  packages/markers/manager.go
  packages/markers/marker.go
  packages/markers/parent_references.go
  packages/markers/parent_references_test.go
  packages/markers/referenced_markers.go
  packages/markers/referenced_markers_test.go
  packages/markers/referencing_markers.go
  packages/markers/referencing_markers_test.go
  packages/markers/sequence.go
  packages/markers/sequence_test.go
Labels: REVIEW PLEASE

#1091 Feat/mana fpc/split statement
  packages/vote/fpc/fpc.go
  packages/vote/vote_context.go
  plugins/analysis/dashboard/fpc_livefeed_test.go
  plugins/analysis/packet/fpc_heartbeat_test.go
  plugins/messagelayer/consensus_plugin.go
  plugins/messagelayer/consensus_plugin_test.go
Labels: DRAFT, FPC, Green Team

#1147 Replace wiki page with GitHub page
  README.md
Labels: docs

#1146 Fix: Moved special case of future markers being empty to end
  packages/markers/manager.go
Labels: REVIEW PLEASE

#1123 Feat/fpc mana conditional write statement
  packages/mana/accessbasevector.go
  packages/mana/accessbasevector_test.go
  packages/mana/basevector.go
  packages/mana/consensusbasevector.go
  packages/mana/consensusbasevector_test.go
  packages/mana/weightedbasevector.go
  packages/mana/weightedbasevector_test.go
  packages/vote/fpc/fpc.go
  plugins/messagelayer/consensus_plugin.go
  plugins/messagelayer/mana_plugin.go
  plugins/messagelayer/parameters.go
  tools/integration-tests/tester/framework/docker.go
  tools/integration-tests/tester/framework/framework.go
  tools/integration-tests/tester/framework/parameters.go
Labels: FPC, Green Team

#1106 Docs/Object Storage
  docs/implementation_design/object_storage.md
Labels: docs

#1139 Adapt FPC integration test for mana
  tools/integration-tests/tester/tests/consensus/consensus_conflicts_test.go
Labels: DRAFT, Green Team

#1045 Feat/mana autopeering
  go.mod
  go.sum
  packages/ledgerstate/branch_dag.go
  packages/ledgerstate/utxo_dag.go
  packages/tangle/storage.go
  plugins/autopeering/autopeering.go
  plugins/autopeering/discovery/discovery.go
  plugins/autopeering/discovery/parameters.go
  plugins/autopeering/parameters.go
  plugins/autopeering/plugin.go
  plugins/mana/plugin.go
  plugins/messagelayer/consensus_plugin.go
  plugins/metrics/mana.go
  plugins/portcheck/plugin.go
  plugins/webapi/autopeering/plugin.go
  plugins/webapi/info/plugin.go
  tools/integration-tests/tester/go.mod
  tools/integration-tests/tester/go.sum
Labels: Green Team, REVIEW PLEASE

#1159 Add more strict integration test for fpc with mana
  packages/consensus/fcob/consensusmechanism.go
  packages/vote/fpc/parameters.go
  tools/integration-tests/tester/tests/consensus/consensus_conflicts_test.go
Labels: DRAFT

#1085 Feat/fpc mana
  packages/consensus/fcob/consensusmechanism.go
  packages/mana/accessbasevector.go
  packages/mana/accessbasevector_test.go
  packages/mana/basevector.go
  packages/mana/consensusbasevector.go
  packages/mana/consensusbasevector_test.go
  packages/mana/weightedbasevector.go
  packages/mana/weightedbasevector_test.go
  packages/mana/weightedrand.go
  packages/mana/weightedrand_test.go
  packages/vote/fpc/fpc.go
  packages/vote/fpc/fpc_test.go
  packages/vote/fpc/parameters.go
  packages/vote/opinion/opinion.go
  packages/vote/statement/registry.go
  packages/vote/vote_context.go
  plugins/analysis/dashboard/fpc_livefeed.go
  plugins/analysis/dashboard/fpc_livefeed_test.go
  plugins/analysis/packet/fpc_heartbeat_test.go
  plugins/autopeering/autopeering.go
  plugins/core.go
  plugins/dashboard/explorer_routes.go
  plugins/dashboard/manafeed.go
  plugins/mana/parameters.go
  plugins/messagelayer/consensus_plugin.go
  plugins/messagelayer/consensus_plugin_test.go
  plugins/messagelayer/errors.go
  plugins/messagelayer/mana_plugin.go
  plugins/messagelayer/parameters.go
  plugins/metrics/mana.go
  plugins/metrics/manaresearch.go
  plugins/webapi/info/plugin.go
  plugins/webapi/mana/allmana.go
  plugins/webapi/mana/logsHandler.go
  plugins/webapi/mana/mana.go
  plugins/webapi/mana/nhighest.go
  plugins/webapi/mana/online.go
  plugins/webapi/mana/pastconsensusbasemanavector.go
  plugins/webapi/mana/pastconsensusvectormetadata.go
  plugins/webapi/mana/pending.go
  plugins/webapi/mana/percentile.go
  plugins/webapi/value/allowedmanapledge.go
  plugins/webapi/value/sendtransaction.go
  tools/integration-tests/tester/framework/docker.go
  tools/integration-tests/tester/framework/framework.go
  tools/integration-tests/tester/framework/parameters.go
  tools/integration-tests/tester/tests/consensus/consensus_conflicts_test.go
Labels: DRAFT, FPC, Green Team, do not merge
